#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
}
a:visited{color: grey;}
a:hover{text-decoration: underline;}

#head-links-container {
    display: flex;
    justify-content: flex-end;
    min-width: 400px;
}
#header-links {
    margin-right: 20px;
    margin-top: 20px;
}
#header-icons {
    margin-right: 10px;
    margin-top: 10px;
}
#apps-icon{
    margin-right: 10px;
}
.material-icons {
    font-size: 36px;
    color: rgb(43, 40, 40);
}

#header-list {
    display: inline;
    margin-left: 10px; 
    margin-right: 10px;
    
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-list {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    text-decoration: none;
    color: grey;
    width: 100%;  
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

li{
    display: inline;

}
#search-bar-container {
    display: flex;
    justify-content: center;
    min-width: 400px;
}

#search-icon {
    margin-top: 30px;
    color: darkgray;
    position: relative;
    font-size: 25px;
    height: 32px;
    border-top: 20px;  
    border: 0.5px solid rgba(224, 219, 219, 0.815);  
    border-right: none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-left: 20px;
    padding-top: 10px;
}
#search-icon:hover {box-shadow: 1px 1px 1px 1px rgb(209, 198, 198); }
#mic-icon {
    margin-top: 30px;
    color: darkgray;
    position: relative;
    font-size: 25px;
    height: 32px;
    border-top: 20px;  
    border: 0.5px solid rgba(224, 219, 219, 0.815);  
    border-left: none;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding-right: 20px;
    padding-top: 10px;

}
#mic-icon:hover {box-shadow: 1px 1px 1px 1px rgb(209, 198, 198); }

#search-bar:hover {
    box-shadow: 1px 1px 1px 1px rgb(209, 198, 198); 

}
#search-bar {
    border: none;
    width: 500px;
    height: 40px;
    margin-top: 30px;
    border: 0.5px solid rgba(224, 219, 219, 0.815);
    border-right: none;
    border-left: none;
    margin-bottom: 40px;
}
#buttons-container {
    display: flex;
    justify-content: center;
}
button {
    margin: 30 px;
    height: 33px;
    width: 135px;
    background-color: #f8f9fa;
    border-style: none;
    border-radius: 5px;
    font-size: 1.9 rem;
}
button:hover {
    box-shadow: 2px 2px #f2f2f2;
    border: 1.5px solid rgba(169, 169, 169, 0.863);
}

#title-container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    
}
li {
    list-style-type: none;
    
}
.anchor-list {
    all:unset;
    margin-right: 10px;
    margin-left: 10px;
    
}

